h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
a,
img,
ul,
ol,
blockquote,
pre {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    line-height: 1.52;
    background-color: #eaeae9;
    text-rendering: optimizeLegibility;
}

.content-wrap {
    width: 34em;
    margin: 0 auto;
}

body,
a {
    color: #999;
}

a:hover {
    text-decoration: underline;
    color: #008c34;
}

p {
    margin-bottom: 1.52em;
}

pre {
    font-size: .9em;
    overflow: auto;
    margin-bottom: 1.8em;
    padding: 1em;
    border: 1px dashed #d2d2d2;
    border-radius: .25em;
    background: #fff;
}

h1 {
    font-family: 'Forum', cursive;
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.43;
    margin-bottom: 1.35em;
}

h3 {
    font-size: 1.4em;
    font-weight: 400;
    font-style: italic;
    margin-top: 1.8em;
    margin-bottom: .8em;
    text-align: center;
}

ol,
ul {
    margin: 0 1.4em 1.4em 4em;
}

li {
    margin-bottom: .5em;
}

blockquote {
    font-style: italic;
    margin: 1.2em 3em;
    padding-left: 1em;
}

hr {
    height: 0;
    margin: 1.6em 0;
    border: 0;
    border-top: 1px dashed #d2d2d2;
}


/* page header */

.header {
    margin: 3em 0 5em;
}

.header__logo {
    margin: 3em 0 5em;
    text-align: center;
}

.header__logo img {
    height: 100px;
    border-radius: .5em;
}

.header__title {
    font-size: 2.6em;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.header__desc {
    font-size: 1.2em;
    margin-top: -.3em;
    text-align: center;
}

.header a,
.header a:hover {
    text-decoration: none;
    color: #008c34;
}

.header .author {
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-rendering: auto;
}

body.article-detail > header h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: -.2em;
}

body.article-detail > header {
    margin-bottom: 3em;
}


/* page footer */

footer {
    margin: 3em 0;
}

footer .nav {
    display: flex;
    margin-top: 5em;
    margin-bottom: 3.5em;
    text-align: center;
    justify-content: space-between;
}

footer .nav a {
    font-size: 16px;
    padding: 0 .5em;
    text-decoration: none;
}

footer .about {
    font-size: .7em;
    padding: 2.2em 3em;
    border-top: 1px dashed #d2d2d2;
    /*
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
  */
}

footer .copy {
    font-size: .7em;
    margin-top: 1em;
    text-align: center;
}

footer .copy,
footer .copy a {
    color: #8e8e8e;
}


/* article */

.article {
    margin: 3em 0 4em;
}

.article__header {
    display: flex;
    margin-bottom: .5em;
    justify-content: flex-start;
    align-items: flex-end;
}

.article__date-block {
    margin: 0 2em 0 0;
}

.article__date {
    font-size: 40px;
}

.article__date i {
    margin-right: 10px;
}

.article__title a {
    font-size: 40px;
    text-decoration: none;
}

.article__content{
    font-size: 16px;
}

.article__content p {
    display: inline;
}

.article__content img {
    display: block;
    width: 100%;
}


/* archive */

.archive {
    width: 32em;
    margin: 5em auto 6em;
    padding-left: 2em;
}

.archive h2 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
    margin-bottom: .5em;
    margin-left: 6.1em;
}

.archive a,
.archive span {
    display: block;
    float: left;
    margin-bottom: -1px;
    text-decoration: none;
}

.archive li:not(:last-child) {
    margin-bottom: -1px;
    border-bottom: 1px solid #d2d2d2;
}

.archive a.last,
.archive span.last {
    margin-bottom: 0;
    border: 0;
}

.archive a {
    width: 21em;
    white-space: nowrap;
    text-indent: 1em;
}

.archive .year-label,
.archive .month-label {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-variant: small-caps;
    width: 4em;
    text-align: center;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-rendering: auto;
}

.archive .month-label {
    width: 7em;
}

.archive ul {
    margin: 0;
    list-style: none;
}

.archive ul li {
    margin: 0;
}


/* code styling */

code {
    font-family: monospace;
    font-size: .85em;
    color: #000;
}

pre code {
    line-height: 1.1;
    display: block;
}

p code {
    position: relative;
    padding: .1em .3em .2em;
    white-space: nowrap;
    border-radius: .3em;
    background: #bbb;
}


/* syntax hl stuff */

code.lang-markdown {
    color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
    font-weight: bold;
}

code.lang-markdown .emphasis {
    font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
    color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
    color: #bbb;
}


/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment,
pre .comment,
pre .title {
    color: #8e908c;
}

.tomorrow-red,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #c82829;
}

.tomorrow-orange,
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
    color: #f5871f;
}

.tomorrow-yellow,
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
    color: #eab700;
}

.tomorrow-green,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
    color: #718c00;
}

.tomorrow-aqua,
pre .css .hexcolor {
    color: #3e999f;
}

.tomorrow-blue,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #4271ae;
}

.tomorrow-purple,
pre .keyword,
pre .javascript .function {
    color: #8959a8;
}


/* media queries */

@media (min-width: 1600px) {
    body {
        font-size: 26px;
    }
}

@media (max-width: 900px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 690px) {
    .content-wrap {
        width: auto;
        padding: 0 1em;
    }
    .header {
        margin: 1em 0;
    }
    .header h1 {
        font-size: 1.4em;
        margin-bottom: .6em;
    }
    .header .description {
        font-size: 1em;
    }
    .article {
        margin: 1em 0 2.5em;
    }
    .archive {
        width: 80%;
        margin: 0 auto;
    }
    .archive * {
        line-height: 1.6 !important;
        float: none !important;
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        text-align: left !important;
        border: 0 !important;
    }
    footer .nav {
        margin: 1em 0;
    }
    footer .about {
        font-size: .9em;
        padding: 0;
        padding-top: 1.6em;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -ms-column-count: 1;
        column-count: 1;
    }
    footer .about p {
        margin-bottom: 1em;
    }
}
